*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
button{
  outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
body {
  margin: 0px;
}



